ADMIN_USERNAME=admin
ADMIN_PASSWORD="change_me"
MONGO_URI=mongodb://localhost:27017/eportfolio
ALLOW_MEMORY_FALLBACK=true
JWT_SECRET="change_me"
PORT=5002
NODE_ENV=development
CORS_ORIGIN=http://localhost:3000
